<a href="https://colab.research.google.com/github/ploybongkot/data_viz_2022/blob/main/Project_Dataviz_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd     # ใช้ทำงานกับ ตาราง

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive/Project_DataViz_2022

/content/drive/MyDrive/Project_DataViz_2022

# 1.covid data

ref: https://data.go.th/dataset/covid-19-daily

## ตรวจสอบและรวมข้อมูล covid_data

- เนื่องจาก file covid_data มี 4 files จึงเช็คดูว่ามีข้อมูลซ้ำกันมั้ย

In [ ]:
covid_data1 = pd.read_csv('confirmed-cases-1.csv')
print(covid_data1.shape)
covid_data1.head()

(839771, 11)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN

In [ ]:
covid_data2 = pd.read_csv('confirmed-cases-since-120864.csv')
print(covid_data2.shape)
covid_data2.head()

(1042168, 11)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN

In [ ]:
covid_data3 = pd.read_csv('confirmed-cases-since-271064.csv')
print(covid_data3.shape)
covid_data3.head()

(1010459, 12)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN

In [ ]:
covid_data4 = pd.read_csv('confirmed-cases-since-280265.csv')
print(covid_data4.shape)
covid_data4.head()

(433553, 11)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา

**ตรวจสอบว่าข้อมูลซ้ำกันหรือไม่**

In [ ]:
# หาค่า min max ของ column NO.
def min_max(i):
    a = min(i['No.'])
    b = max(i['No.'])
    print(f'min of NO. is {a}')
    print(f'max of NO. is {b}')

In [ ]:
min_max(covid_data1)    # ดูค่า min max ของตาราง covid_data1

min of NO. is 1
max of NO. is 839771

In [ ]:
min_max(covid_data2)    # ดูค่า min max ของตาราง covid_data2

min of NO. is 816990
max of NO. is 1859157

In [ ]:
min_max(covid_data3)    # ดูค่า min max ของตาราง covid_data3

min of NO. is 1859158
max of NO. is 2869616

In [ ]:
min_max(covid_data4)    # ดูค่า min max ของตาราง covid_data4

min of NO. is 2869617
max of NO. is 3303169

- เนื่องจาก ลักษณะของข้อมูลที่ดูจากค่าในคอลัมน์ NO. (รหัสผู้ป่วย) ตาราง covid_data1 และ covid_data2 จะมีค่าซ้ำกัน

(หรัสที่มากที่สุดใน covid_data1 > รหัสที่น้อยที่สุดใน covid_data2)

- ดูลักษณะข้อมูลว่าซ้ำกันจริงมั้ย

In [ ]:
covid_data1.iloc[816989:,:].head(10)    # ดูข้อมูล covid_data1 ตั้งแต่แถวที่ 816989 ถึงแถวสุดท้าย

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
816989,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
816990,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
816991,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
816992,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
816993,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
816994,816995,12/8/2021,11/8/2021,ชาย,39.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
816995,816996,12/8/2021,11/8/2021,ชาย,45.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
816996,816997,12/8/2021,11/8/2021,หญิง,32.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
816997,816998,12/8/2021,11/8/2021,หญิง,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
816998,816999,12/8/2021,11/8/2021,ชาย,8.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN

In [ ]:
covid_data2.head(10)    # ดูข้อมูล covid_data2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
5,816995,12/8/2021,11/8/2021,ชาย,39.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
6,816996,12/8/2021,11/8/2021,ชาย,45.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
7,816997,12/8/2021,11/8/2021,หญิง,32.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
8,816998,12/8/2021,11/8/2021,หญิง,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
9,816999,12/8/2021,11/8/2021,ชาย,8.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN

- จากการดูลักษณะข้อมูล ข้อมูลซ้ำกันจริง

- ดังนั้น ลบข้อมูลที่ซ้ำออก โดยเลือกลบจากตาราง covid_data1

In [ ]:
covid_data1_drop = covid_data1.iloc[:816989,:]
covid_data1_drop.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN

In [ ]:
min_max(covid_data1_drop)   # print ดู No. น้อยสุดและมากสุด ใน covid_data1_drop

min of NO. is 1
max of NO. is 816989

In [ ]:
min_max(covid_data4)     # print ดู No. น้อยสุดและมากสุด ใน covid_data4

min of NO. is 2869617
max of NO. is 3303169

In [ ]:
covid_data1_drop.shape[0] + covid_data2.shape[0] + covid_data3.shape[0] + covid_data4.shape[0]   # บวกดูจำนวนข้อมูลของทั้ง 4 ตาราง

3303169

- จะเห็นว่าจำนวน NO. ที่มากที่สุดของข้อมูล เท่ากับ จำนวนข้อมูลของทั้ง 4 ตาราง บวกกัน เท่ากับ 3303169 แสดงว่าข้อมูลแต่ละตารางไม่ได้เก็บซ้ำกันแล้ว

In [ ]:
# รวมข้อมูล covid_data
covid_data = pd.concat([covid_data1_drop, covid_data2, covid_data3, covid_data4])
print(covid_data.shape)
covid_data.head()

(3303169, 12)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN,NaN

In [ ]:
covid_df = covid_data[['No.','announce_date','sex','age','risk','province_of_onset','district_of_onset']]
print(covid_df.shape)
covid_df.head()

(3303169, 7)

,No.,announce_date,sex,age,risk,province_of_onset,district_of_onset
0,1,12/1/2020,หญิง,61.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,หญิง,74.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,หญิง,73.0,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,ชาย,68.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,หญิง,66.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN

## Clean covid_data

In [ ]:
covid_df.isnull().sum()   # นับจำนวนค่า NaN ของแต่ละ columns

No.                       0
announce_date             0
sex                  179060
age                  266795
risk                   1187
province_of_onset    398224
district_of_onset    499368
dtype: int64

### C: province_of_onset

#### แก้ไขข้อมูล

In [ ]:
len(set(covid_df['province_of_onset']))  #ข้อมูลในคอลัมน์ province_of_onset ต้องมี 77 ค่า เพราะมี 77 จังหวัด ถ้ามากว่า 77 อาจเป็นเพราะคีร์ข้อมูลไม่ตรงกัน

437

In [ ]:
# เปลี่ยนข้อมูลให้อยู่ในรูปแบบเดียวกัน
covid_df['province_of_onset'].replace({
        'USA':'ไม่ระบุ','\xa0กาญจนบุรี':'กาญจนบุรี','\xa0ชลบุรี':'ชลบุรี','\xa0ตราด':'ตราด','\xa0นครปฐม':'นครปฐม','\xa0สมุทรสงคราม':'สมุทรสงคราม',
        '\xa0สมุทรสาคร':'สมุทรสาคร','\xa0อุทัยธานี':'อุทัยธานี','กทม':'กรุงเทพมหานคร','กทม.':'กรุงเทพมหานคร','กบินทร์บุรี':'ปราจีนบุรี','กระบี่':'กระบี่','กระบี่ี่':'กระบี่','กรุงเทพ':'กรุงเทพมหานคร',
        'กรุงเทพมหานคร':'กรุงเทพมหานคร','กรุงเทพมหานคร.':'กรุงเทพมหานคร','กรุงเทพมหานคร. / พระนครศรีอยุธยา':'กรุงเทพมหานคร','กรุงเทพมหานคร. / ศรีสะเกษ':'กรุงเทพมหานคร','กรุงเทพฯ':'กรุงเทพมหานคร','กะทู้':'ไม่ระบุ',
        'กัมพูชา':'กรุงเทพมหานคร','กาญจนบุรี':'กาญจนบุรี','กาญจบุรี':'กาญจนบุรี','กาญนบุรี':'กาญจนบุรี','กาฬสิน':'กาฬสินธุ์','กาฬสินธิ์':'กาฬสินธุ์','กาฬสินธุ์':'กาฬสินธุ์','กาฬสินธุ์\xa0':'กาฬสินธุ์','กาฬสินธ์':'กาฬสินธุ์',
        'กำเพงเพชร':'กำแพงเพชร','กำแพง':'กำแพงเพชร','กำแพงเพชร':'กำแพงเพชร','กำแพงเพชร\xa0':'กำแพงเพชร','กําแพงเพชร':'กำแพงเพชร','ขอนแก่น':'ขอนแก่น','ขอนแก่น\xa0':'ขอนแก่น','ขอนแก่่น':'ขอนแก่น',
        'ขัยนาท':'ชัยนาท','ขัยภูมิ':'ชัยภูมิ','ขานุวรลักษณ์บุรี':'กำแพงเพชร','คนไทยเดินทางกลับจากต่างประเทศ':'กรุงเทพมหานคร','คลองเตย':'กรุงเทพมหานคร','จ.กรุงเทพมหานคร':'กรุงเทพมหานคร','จ.ภูเก็ต':'ภูเก็ต','จ.ราชบุรี':'ราชบุรี',
        'จ.สุราษฎร์ธานี':'สุราษฎร์ธานี','จังหวัดสมุทรสาคร':'สมุทรสาคร','จันทบุรี':'จันทบุรี','ฉะเชองเทราร':'ฉะเชิงเทรา','ฉะเชิงเทรา':'ฉะเชิงเทรา','ชมพร':'ชุมพร','ชลบุรี':'ชลบุรี','ชลบุรี\t':'ชลบุรี','ชลบุรี\xa0':'ชลบุรี',
        'ชลบุุรี':'ชลบุรี','ชอนแก่น':'ขอนแก่น','ชัยนาถ':'ชัยนาท','ชัยนาท':'ชัยนาท','ชัยบาดาล':'ลพบุรี','ชัยภูมิ':'ชัยภูมิ','ชัยภูมิ\xa0':'ชัยภูมิ','ชุมพร':'ชุมพร','ชุุมพร':'ชุมพร','ชุุุมพร':'ชุมพร','ดอนมดแดง':'อุบลราชธานี',
        'ดินแดง':'กรุงเทพมหานคร','ตรัง':'ตรัง','ตรััง':'ตรัง','ตราด':'ตราด','ตราด\xa0':'ตราด','ตาก':'ตาก','ตากใบ':'นราธิวาส','ต่างจังหวัด':'กรุงเทพมหานคร','ทุ่งเสลี่ยม':'สุโขทัย','ท้ายบ้าน':'สมุทรปราการ','ธารโต':'ยะลา',
        'นคนปฐม':'นครปฐม','นคปฐม':'นครปฐม','นครนปฐม':'นครปฐม','นครนาชสีมา':'นครราชสีมา','นครนายก':'นครนายก','นครปฐม':'นครปฐม','นครปฐม\xa0':'นครปฐม','นครปบม':'นครปฐม','นครพนม':'นครพนม','นครพนม\xa0':'นครพนม',
        'นครยายก':'นครนายก','นครราขสีมา':'นครราชสีมา','นครราชธานี':'นครราชสีมา','นครราชศรีมา':'นครราชสีมา','นครราชสสีมา':'นครราชสีมา', 'นครราชสีมา':'นครราชสีมา', 'นครราชสีมา ลพบุรี':'นครราชสีมา', 'นครราชสีมา\xa0':'นครราชสีมา',
        'นครศรธรรมราช':'นครศรีธรรมราช', 'นครศรี':'นครศรีธรรมราช', 'นครศรีธรมมราช':'นครศรีธรรมราช', 'นครศรีธรมราช':'นครศรีธรรมราช', 'นครศรีธรรมราข':'นครศรีธรรมราช', 'นครศรีธรรมราช':'นครศรีธรรมราช', 'นครศรีฯ':'นครศรีธรรมราช',
        'นครศรีีธรรมราช':'นครศรีธรรมราช', 'นครศร๊ธรรมราช':'นครศรีธรรมราช', 'นครศร๊ะรรมราช':'นครศรีธรรมราช', 'นครสรรค์':'นครสวรรค์','นครสรีธรรมราช':'นครศรีธรรมราช', 'นครสวรรค':'นครสวรรค์', 'นครสวรรค์':'นครสวรรค์', 'นครสวรรค์\xa0':'นครสวรรค์',
        'นครสีธรรมราช':'นครศรีธรรมราช', 'นครฯ':'นครราชสีมา', 'นคราชสีมา':'นครราชสีมา', 'นครีศรีธรรมราช':'นครศรีธรรมราช', 'นตรนายก':'นครนายก', 'นตรปฐม':'นครปฐม', 'นนทบุรี':'นนทบุรี', 'นนทบุรี\xa0':'นนทบุรี', 'นนทบุุรี':'นนทบุรี',
        'นนทุบรี':'นนทบุรี', 'นนทุรี':'นนทบุรี', 'นนมบุรี':'นนทบุรี', 'นรศรีธรรมราช':'นครศรีธรรมราช', 'นราธิวาส':'นราธิวาส', 'นราธิวาส\u200b':'นราธิวาส', 'นราธฺวาส':'นราธิวาส', 'นอกเขต':'ไม่ระบุ', 'นาราธิวาส':'นราธิวาส', 'นาวัง':'หนองบัวลำภู',
        'น่าน':'น่าน', 'น่าน/ฉะเชิงเทรา':'น่าน', 'บางกรวย':'นนทบุรี', 'บางกะปิ':'กรุงเทพมหานคร', 'บางนา':'กรุงเทพมหานคร', 'บางปะอิน':'กรุงเทพมหานคร', 'บางละมุง':'ชลบุรี', 'บางศรีเมือง':'นนทบุรี', 'บางเพียง':'สมุทรปราการ', 'บึงกาฬ':'บึงกาฬ',
        'บึงโขงหลง':'บึงกาฬ','บุรีรัมภ์':'บุรีรัมย์', 'บุรีรัมย์':'บุรีรัมย์', 'บุรีรัมย์\xa0':'บุรีรัมย์', 'บุรีรัยม์':'บุรีรัมย์', 'บุรีรีมย์':'บุรีรัมย์', 'บ้านหลวง':'น่าน', 'ปจ':'ไม่ระบุ', 'ปทึมธานี':'ปทุมธานี', 'ปทุทธานี':'ปทุมธานี', 'ปทุมฑานี':'ปทุมธานี',
        'ปทุมทานี':'ปทุมธานี', 'ปทุมธาน':'ปทุมธานี', 'ปทุมธานี':'ปทุมธานี', 'ปทุมธานี.':'ปทุมธานี', 'ปทุมธานี\xa0':'ปทุมธานี', 'ปทุมธานีี':'ปทุมธานี', 'ปทุมาธานี':'ปทุมธานี', 'ปทุุมธานี':'ปทุมธานี', 'ปธุมธานี':'ปทุมธานี', 'ปมุมธานี':'ปทุมธานี',
        'ประจวนคีรีขันธ็':'ประจวบคีรีขันธ์', 'ประจวบ':'ประจวบคีรีขันธ์', 'ประจวบคิรีขันธ์':'ประจวบคีรีขันธ์', 'ประจวบคีรขันธ์':'ประจวบคีรีขันธ์', 'ประจวบคีรขัันธ์':'ประจวบคีรีขันธ์', 'ประจวบคีรีขัน':'ประจวบคีรีขันธ์', 'ประจวบคีรีขันธื':'ประจวบคีรีขันธ์',
        'ประจวบคีรีขันธฺ':'ประจวบคีรีขันธ์', 'ประจวบคีรีขันธ์':'ประจวบคีรีขันธ์', 'ประจวบคีรีขันธ์\xa0':'ประจวบคีรีขันธ์', 'ประจวบคีรีขันธ์์':'ประจวบคีรีขันธ์', 'ประจวบคีรีขัันธ์':'ประจวบคีรีขันธ์', 'ประจวบคีีรีขันธ์':'ประจวบคีรีขันธ์', 'ประจวบฯ':'ประจวบคีรีขันธ์',
        'ประทุมธานี':'ปทุมธานี','ประเทศกัมพูชา':'ไม่ระบุ', 'ปราจีนบุรี':'ปราจีนบุรี', 'ปราจีบุรี':'ปราจีนบุรี', 'ปลวกแดง':'ระยอง', 'ปลายพระยา':'กระบี่', 'ปอยเปต':'กรุงเทพมหานคร', 'ปัตตนรี':'ปัตตานี', 'ปัตตานนี':'ปัตตานี', 'ปัตตานี':'ปัตตานี',
        'ปัตตานีี':'ปัตตานี', 'ปัตาตานี':'ปัตตานี', 'ปัว':'เพชรบุรี', 'ปััตตานี':'ปัตตานี', 'ปุทมธานี':'ปทุมธานี', 'ป่าโมก':'สุโขทัย', 'พม่า':'ไม่ระบุ', 'พรหมพิราม':'พิษณุโลก', 'พระนครศรียุธยา':'พระนครศรีอยุธยา', 'พระนครศรีอยุทธยา':'พระนครศรีอยุธยา',
        'พระนครศรีอยุทยา':'พระนครศรีอยุธยา', 'พระนครศรีอยุธยา':'พระนครศรีอยุธยา', 'พระนครศรีอยุธยา\xa0':'พระนครศรีอยุธยา', 'พะเยา':'พะเยา', 'พังงา':'พังงา', 'พัทยา':'ชลบุรี', 'พัทลุง':'พัทลุง', 'พัทลุุง':'พัทลุง', 'พัังงา':'พังงา',
        'พิจิตร':'พิจิตร', 'พิษณุโลก':'พิษณุโลก', 'พิษณุโลก\xa0':'พิษณุโลก', 'พิษณูโลก':'พิษณุโลก', 'ฟินแลนด์':'กรุงเทพมหานคร', 'ภาษีเจริญ':'กรุงเทพมหานคร', 'ภุเก็ต':'ภูเก็ต', 'ภูุเก็ต':'ภูเก็ต', 'ภููเก็ต':'ภูเก็ต', 'ภูเก็ต':'ภูเก็ต',
        'ภูเก็็ต':'ภูเก็ต','ภูเพียง':'น่าน', 'มหาสาคาม':'มหาสารคาม', 'มหาสารคาม':'มหาสารคาม', 'มาเลเซีย':'กรุงเทพมหานคร', 'มุกดาหาร':'มุกดาหาร', 'มุกาดหาร':'มุกดาหาร', 'ยะลา':'ยะลา', 'ยานนาวา':'กรุงเทพมหานคร','ยโสธร':'ยโสธร',
        'ร.จ.จ.นราธิวาส':'นราธิวาส', 'รอ':'ไม่ระบุ','ระนอง':'ระนอง', 'ระบุ':'ไม่ระบุ', 'ระยอง':'ระยอง', 'ระยอง\xa0':'ระยอง', 'ระอยง':'ระยอง', 'ราชบบุรี':'ราชบุรี', 'ราชบุรี':'ราชบุรี', 'ราชบุรีี':'ราชบุรี', 'ราชบุรี\u200b':'ราชบุรี',
        'ราชุรี':'ราชบุรี', 'ราชเทวี':'กรุงเทพมหานคร', 'ร้องกวาง':'แพร่', 'ร้อยเอ็ด':'ร้อยเอ็ด', 'ลบุรี':'ลพบุรี', 'ลพบุรี':'ลพบุรี', 'ลพบุรี.':'ลพบุรี', 'ลพบุรี\xa0':'ลพบุรี', 'ลอง':'ไม่ระบุ', 'ลาดกระบัง':'กรุงเทพมหานคร', 'ลาดพร้าว':'กรุงเทพมหานคร',
        'ลาว':'กรุงเทพมหานคร', 'ลำปาง':'ลำปาง', 'ลำพูน':'ลำพูน', 'ลำพูน\u200b':'ลำพูน', 'ลำพููน':'ลำพูน', 'ลำลูกกา':'กรุงเทพมหานคร', 'วังชิ้น':'แพร่', 'วังทอง':'พิษณุโลก', 'วิเศษชัยชาญ':'อ่างทอง', 'ศรีษะสะเกษ':'ศรีสะเกษ',
        'ศรีษะเกษ':'ศรีสะเกษ', 'ศรีสระเกษ':'ศรีสะเกษ', 'ศรีสะเกษ':'ศรีสะเกษ', 'ศีรสะเกษ':'ศรีสะเกษ', 'สกลนคร':'สกลนคร', 'สครสวรรค์':'นครสวรรค์', 'สงขลา':'สงขลา', 'สงขลา\u200b':'สงขลา', 'สตูล':'สตูล', 'สถานที่ทำงาน':'ไม่ระบุ',
        'สพรรณบุรี':'สุพรรณบุรี', 'สมถทรปราการ':'สมุทรปราการ', 'สมทรสงคราม':'สมุทรสงคราม','สมทรสาคร':'สมุทรสาคร', 'สมุครปราการ':'สมุทรปราการ', 'สมุครสาคร':'สมุทรสาคร', 'สมุท':'สมุทรปราการ', 'สมุทปราการ':'สมุทรปราการ',
        'สมุทรปรากร':'สมุทรปราการ', 'สมุทรปรากรร':'สมุทรปราการ', 'สมุทรปรากา':'สมุทรปราการ', 'สมุทรปราการ':'สมุทรปราการ', 'สมุทรปราการ\xa0':'สมุทรปราการ', 'สมุทรศาคร':'สมุทรสาคร', 'สมุทรสาคร':'สมุทรสาคร',
        'สมุทรสาคร\xa0':'สมุทรสาคร', 'สมุทรสาคา':'สมุทรสาคร', 'สมุทรสาคาร':'สมุทรสาคร', 'สมุทรสาทร':'สมุทรสาคร', 'สมุทรสารคร':'สมุทรสาคร', 'สมุทราปราการ':'สมุทรปราการ', 'สมุทราสาคร':'สมุทรสาคร', 'สมุทสงคราม':'สมุทรสงคราม',
        'สมุทสาคร':'สมุทรสาคร','สมุย':'สุราษฎร์ธานี', 'สมุุทรปราการ':'สมุทรปราการ', 'สมุุทรสงคราม':'สมุทรสงคราม', 'สมุุทรสาคร':'สมุทรสาคร', 'สระก้ว':'สระแก้ว', 'สระบุรี':'สระบุรี', 'สระบุรี\xa0':'สระบุรี', 'สระแก้ว':'สระแก้ว',
        'สรินทร์':'สุรินทร์', 'สวิสเซอร์แลนด์':'กรุงเทพมหานคร', 'สอง':'ไม่ระบุ', 'สองแคว':'เชียงใหม่', 'สะพานสูง':'กรุงเทพมหานคร', 'สะแก้ว':'สระแก้ว', 'สัตหีบ':'ชลบุรี', 'สัมผัสผู้ป่วยยืนยัน COVID20':'ไม่ระบุ', 'สามุทรสาคร':'สมุทรสาคร',
        'สารคาม':'มหาสารคาม', 'สารภี':'เชียงใหม่', 'สิงห์บุรี':'สิงห์บุรี', 'สิงห์บุรี\xa0':'สิงห์บุรี', 'สุทรปราการ':'สมุทรปราการ','สุพรรญบุรี':'สุพรรณบุรี', 'สุพรรณบุรั':'สุพรรณบุรี', 'สุพรรณบุรี':'สุพรรณบุรี', 'สุพรรณบุรี\xa0':'สุพรรณบุรี',
        'สุมทรปราการ':'สมุทรปราการ', 'สุมทรสาคร':'สมุทรสาคร', 'สุมุทรปราการ':'สมุทรปราการ', 'สุมุทรสาคร':'สมุทรสาคร', 'สุระบุรี':'สระบุรี', 'สุราษ':'สุราษฎร์ธานี','สุราษฎณ์ธานี':'สุราษฎร์ธานี', 'สุราษฎธานี':'สุราษฎร์ธานี',
        'สุราษฎร์':'สุราษฎร์ธานี', 'สุราษฎร์ธานี':'สุราษฎร์ธานี', 'สุราษฎร์ฯ':'สุราษฎร์ธานี', 'สุราษฎร์์ธานี':'สุราษฎร์ธานี', 'สุราษฎ์ธานี':'สุราษฎร์ธานี','สุราษฏร์ธานี':'สุราษฎร์ธานี', 'สุราษธานี':'สุราษฎร์ธานี', 'สุราษร์ฎธานี':'สุราษฎร์ธานี',
        'สุราษร์ธานี':'สุราษฎร์ธานี', 'สุราษฯ':'สุราษฎร์ธานี', 'สุรินทรื':'สุรินทร์','สุรินทร์':'สุรินทร์', 'สุรินทร์ 32150':'สุรินทร์', 'สุรินทร์,รีสะเกษ':'สุรินทร์', 'สุรินทร์\xa0':'สุรินทร์', 'สุริมทร์':'สุรินทร์', 'สุริะแก้ว':'สระแก้ว', 'สุวรรณภูมิ':'กรุงเทพมหานคร',
        'สุุพรรณบุรี':'สุพรรณบุรี', 'สุุราษฎร์ธานี':'สุราษฎร์ธานี', 'สุุราษฏร์ธานี':'สุราษฎร์ธานี', 'สุุราษฯ':'สุราษฎร์ธานี', 'สุุรินทร์':'สุรินทร์', 'สุุุโขทัย':'สุโขทัย', 'สุโขทับ':'สุโขทัย', 'สุโขทัย':'สุโขทัย', 'สุโขทัย\xa0':'สุโขทัย', 'สูงเม่น':'แพร่',
        'หนวงบัวลำภู':'หนองบัวลำภู', 'หนองคาย':'หนองคาย', 'หนองงคาย':'หนองคาย', 'หนองบัวภู':'หนองบัวลำภู', 'หนองบัวลำพูน':'หนองบัวลำภู', 'หนองบัวลำภู':'หนองบัวลำภู', 'หนองบัวลําภู':'หนองบัวลำภู', 'หนองบััวลำภู':'หนองบัวลำภู',
        'หนองม่วงไข่':'แพร่', 'หนอบัวลำภู':'หนองบัวลำภู', 'หลายจังหวัด':'ไม่ระบุ', 'หัวหิน':'ชลบุรี', 'ห้วยขวาง':'กรุงเทพมหานคร', 'อยุทธยา':'พระนครศรีอยุธยา', 'อยุธยา':'พระนครศรีอยุธยา', 'อยุุธยา':'พระนครศรีอยุธยา', 'อำนาจเจริญ':'อำนาจเจริญ',
        'อำนาจเจิญ':'อำนาจเจริญ', 'อำนาญเจริญ':'อำนาจเจริญ', 'อำนาเจริญ':'อำนาจเจริญ', 'อิสราเอล':'กรุงเทพมหานคร', 'อุดธานี':'อุดรธานี', 'อุดร':'อุดรธานี', 'อุดรธาณี':'อุดรธานี', 'อุดรธานี':'อุดรธานี', 'อุดรธานี\xa0':'อุดรธานี',
        'อุดรธานีี':'อุดรธานี', 'อุดรราชธานี':'อุดรธานี', 'อุตรดิตถ์':'อุตรดิตถ์', 'อุตรดิตถ์\xa0':'อุตรดิตถ์', 'อุตรดิตถ์์':'อุตรดิตถ์', 'อุตรดิษถ์':'อุตรดิตถ์', 'อุตรดิิตถ์':'อุตรดิตถ์', 'อุตรติดถ์':'อุตรดิตถ์', 'อุทัยธานี':'อุทัยธานี', 'อุทัยานี':'อุทัยธานี',
        'อุบลราขธานี':'อุบลราชธานี','อุบลราชธานี':'อุบลราชธานี', 'อุบลราชธานี\xa0':'อุบลราชธานี', 'อุุครดิตถ์':'อุตรดิตถ์', 'อุุดรธาน':'อุดรธานี', 'อุุดรธานี':'อุดรธานี', 'อุุตรดิตถ์':'อุตรดิตถ์', 'อุุทัยธานี':'อุทัยธานี', 'อุุบลราชธานี':'อุบลราชธานี',
        'อ่งทอง':'อ่างทอง','อ่างทอง':'อ่างทอง', 'อ่างทอง\xa0':'อ่างทอง', 'อํานาจเจริญ':'อำนาจเจริญ', 'เชิงเทรา':'ฉะเชิงเทรา', 'เชียงราย':'เชียงราย', 'เชียงใหม่':'เชียงใหม่', 'เชียรใหญ่':'เชียงใหม่', 'เชีียงราย':'เชียงราย', 'เชีียงใหม่':'เชียงใหม่',
        'เด่นชัย':'แพร่', 'เพขรบุรี':'เพชรบุรี', 'เพขรบูรณื':'เพชรบูรณ์', 'เพขรบูรณ์':'เพชรบูรณ์', 'เพชรบุรณ์':'เพชรบูรณ์', 'เพชรบุรี':'เพชรบุรี', 'เพชรบุรึ':'เพชรบุรี', 'เพชรบุุรี':'เพชรบุรี', 'เพชรบุูรณ์':'เพชรบูรณ์', 'เพชรบูรณ์':'เพชรบูรณ์',
        'เพชรบูรณ์\xa0':'เพชรบูรณ์','เพชรบูร์':'เพชรบูรณ์', 'เพชรบููรณ์':'เพชรบูรณ์', 'เมือง':'ไม่ระบุ', 'เมืองตาก':'ตาก', 'เมืองน่าน':'น่าน', 'เมืองปัตตานี':'ปัตตานี', 'เรือ':'ไม่ระบุ', 'เลย':'เลย', 'เลย\xa0':'เลย', 'เวียงจันทร์':'กรุงเทพมหานคร',
        'เวียงสา':'ไม่ระบุ', 'แพร่':'แพร่','แม่ทะ':'ลำปาง','แม่ฮ่องสอน':'แม่ฮ่องสอน','แล้วป่วย':'ไม่ระบุ','โพธิ์ทอง':'อ่างทอง','ไชโย':'อ่างทอง', 'ไม่มีชื่อหอพัก':'ไม่ระบุ','\tประจวบคีรีขันธ์':'ประจวบคีรีขันธ์'
 }, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
len(set(covid_df['province_of_onset']))     #ดูจำนวนข้อมูล

79

- 77 จังหวัด + ไม่ระบุ + nan

#### แทนค่า nan

แทนค่า nan ด้วย ไม่ระบุ

In [ ]:
covid_df['province_of_onset'] = covid_df['province_of_onset'].fillna('ไม่ระบุ')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
len(set(covid_df['province_of_onset']))     #ดูจำนวนข้อมูล

78

- 77 จังหวัด + ไม่ระบุ

In [ ]:
covid_df.isnull().sum()

No.                       0
announce_date             0
sex                  179060
age                  266795
risk                   1187
province_of_onset         0
district_of_onset    499368
dtype: int64

In [ ]:
# covid_df = covid_df[covid_df['province_of_onset'].isin(city)]    # .isin คือ เลือกข้อมูลที่ต้องการ       # city คือ list ที่สร้างขึ้น
# print(covid_df.shape)
# covid_df.head()

### C: district_of_onset

#### เปลี่ยนอำเภอเมือง เป็น เมือง+ชื่อจังหวัด

In [ ]:
print(covid_df.shape)       # ข้อมูล covid ทั้งหมด
covid_df.head()

(3303169, 7)

,No.,announce_date,sex,age,risk,province_of_onset,district_of_onset
0,1,12/1/2020,หญิง,61.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,หญิง,74.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,หญิง,73.0,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,ชาย,68.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,หญิง,66.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN

In [ ]:
mueang_district = covid_df[covid_df['district_of_onset']=='เมือง']   # เลือกมาเฉพาะอำเภอเมือง
print(mueang_district.shape)
mueang_district.head()

(166362, 7)

,No.,announce_date,sex,age,risk,province_of_onset,district_of_onset
2,3,22/1/2020,หญิง,73.0,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
13,14,28/1/2020,หญิง,32.0,คนต่างชาติเดินทางมาจากต่างประเทศ,ภูเก็ต,เมือง
154,155,17/3/2020,ชาย,61.0,สนามมวย,ชลบุรี,เมือง
161,162,17/3/2020,ชาย,14.0,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สุราษฎร์ธานี,เมือง
176,177,17/3/2020,ชาย,49.0,สัมผัสผู้เดินทางจากต่างประเทศ,สุราษฎร์ธานี,เมือง

In [ ]:
mueang_district['district_of_onset'] = mueang_district['district_of_onset']+mueang_district['province_of_onset']    # เปลี่ยน เมือง -> เมือง + ชื่อจังหวัด
print(mueang_district.shape)
mueang_district.head()

(166362, 7)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,No.,announce_date,sex,age,risk,province_of_onset,district_of_onset
2,3,22/1/2020,หญิง,73.0,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมืองนครปฐม
13,14,28/1/2020,หญิง,32.0,คนต่างชาติเดินทางมาจากต่างประเทศ,ภูเก็ต,เมืองภูเก็ต
154,155,17/3/2020,ชาย,61.0,สนามมวย,ชลบุรี,เมืองชลบุรี
161,162,17/3/2020,ชาย,14.0,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,สุราษฎร์ธานี,เมืองสุราษฎร์ธานี
176,177,17/3/2020,ชาย,49.0,สัมผัสผู้เดินทางจากต่างประเทศ,สุราษฎร์ธานี,เมืองสุราษฎร์ธานี

In [ ]:
covid_df.set_index('No.', inplace=True)
mueang_district.set_index('No.', inplace=True)
covid_df.update(mueang_district)                # update ค่า ด้วยตาราง mueang_district
mueang_district = mueang_district.reset_index()
covid_df = covid_df.reset_index()
print('*' *150)
print(covid_df.shape)
covid_df.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:7511: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = expressions.where(mask, this, that)

******************************************************************************************************************************************************
(3303169, 7)

,No.,announce_date,sex,age,risk,province_of_onset,district_of_onset
0,1,12/1/2020,หญิง,61.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,หญิง,74.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,หญิง,73.0,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมืองนครปฐม
3,4,22/1/2020,ชาย,68.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,หญิง,66.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN

#### แก้ไขข้อมูล

In [ ]:
len(set(covid_df['district_of_onset']))     # อำเภอ ในประเทศไทย มีทั้งหมด 878 อำเภอ  แสดงว่าข้อมูลใน set ของคอลัมน์อำเภอต้องไม่เกิน 879 (878 อำเภอ + nan)

6232

In [ ]:
# สร้าง list ของอำเภอ
district = ['กงไกรลาศ',	'แกดำ',	'คีรีมาศ',	'เชียงกลาง',	'ตาพระยา',	'เทพา',	'เนินขาม',	'บางใหญ่',	'ปทุมรัตต์',	'พบพระ',	'ฟากท่า',	'ยะรัง',	'วังน้อย',	'ศรีวิไล',	'สามชุก',	'หนองสองห้อง',
            'กงหรา',	'แกลง',	'คีรีรัฐนิคม',	'เชียงขวัญ',	'ตาลสุม',	'เทพารักษ์',	'เนินมะปราง',	'บาเจาะ',	'ปทุมราชวงศา',	'พยัคฆภูมิพิสัย',	'ภักดีชุมพล',	'ยะหริ่ง',	'วังน้ำเขียว',	'ศรีสงคราม',	'สามพราน',	'หนองสูง',
            'กบินทร์บุรี',	'โกรกพระ',	'คุระบุรี',	'เชียงของ',	'เต่างอย',	'เทิง',	'เนินสง่า',	'บ้านกรวด',	'ประโคนชัย',	'พยุห์',	'ภาชี',	'ยะหา',	'วังน้ำเย็น',	'ศรีสมเด็จ',	'สามร้อยยอด',	'หนองเสือ',
            'กมลาไสย',	'โกสัมพีนคร',	'คูเมือง',	'เชียงคาน',	'ถลาง',	'ไทยเจริญ',	'โนนคูณ',	'บ้านเขว้า',	'ประจักษ์ศิลปาคม',	'พยุหะคีรี',	'ภูกระดึง',	'ยางชุมน้อย',	'วังโป่ง',	'ศรีสวัสดิ์',	'สายบุรี',	'หนองแสง',
            'กรงปินัง',	'โกสุมพิสัย',	'เคียนซา',	'เชียงคำ',	'ถ้ำพรรณรา',	'ไทรงาม',	'โนนดินแดง',	'บ้านคา',	'ประจันตคาม',	'พรเจริญ',	'ภูกามยาว',	'ยางตลาด',	'วังม่วง',	'ศรีสัชนาลัย',	'สารภี',	'หนองหงส์',
            'กระทุ่มแบน',	'ขนอม',	'แคนดง',	'เชียงดาว',	'เถิน',	'ไทรน้อย',	'โนนแดง',	'บ้านค่าย',	'ประทาย',	'พรรณนานิคม',	'ภูเขียว',	'ยางสีสุราช',	'วังยาง',	'ศรีสาคร',	'สำโรง',	'หนองหญ้าไซ',
            'กระนวน',	'ขลุง',	'โคกเจริญ',	'เชียงม่วน',	'ทรายทองวัฒนา',	'ไทรโยค',	'โนนไทย',	'บ้านโคก',	'ปรางค์กู่',	'พรหมคีรี',	'ภูซาง',	'ย่านตาขาว',	'วังวิเศษ',	'ศรีสำโรง',	'สำโรงทาบ',	'หนองหญ้าปล้อง',
            'กระบุรี',	'ขาณุวรลักษบุรี',	'โคกโพธิ์',	'เชียงยืน',	'ทรายมูล',	'ธวัชบุรี',	'โนนนารายณ์',	'บ้านฉาง',	'ปราณบุรี',	'พรหมบุรี',	'ภูผาม่าน',	'ยี่งอ',	'วังสมบูรณ์',	'ศิลาลาด',	'สิเกา',	'หนองหาน',
            'กระสัง',	'ขามทะเลสอ',	'โคกโพธิ์ไชย',	'เชียงแสน',	'ทองผาภูมิ',	'ธัญบุรี',	'โนนศิลา',	'บ้านด่าน',	'ปราสาท',	'พรหมพิราม',	'ภูพาน',	'ร้องกวาง',	'วังสะพุง',	'ศีขรภูมิ',	'สิงหนคร',	'หนองหิน',
            'กระแสสินธุ์',	'ขามสะแกแสง',	'โคกศรีสุพรรณ',	'เชียรใหญ่',	'ทองแสนขัน',	'ธาตุพนม',	'โนนสะอาด',	'บ้านด่านลานหอย',	'ปลวกแดง',	'พระทองคำ',	'ภูเพียง',	'ร่องคำ',	'วังสามหมอ',	'สตึก',	'สิชล',	'หนองใหญ่',
            'กะทู้',	'ขุขันธ์',	'โคกสำโรง',	'โชคชัย',	'ทับคล้อ',	'ธารโต',	'โนนสัง',	'บ้านดุง',	'ปลาปาก',	'พระนครศรีอยุธยา',	'ภูเรือ',	'ร่อนพิบูลย์',	'วังหิน',	'สทิงพระ',	'สิรินธร',	'หนองฮี',
            'กะปง',	'ขุนตาล',	'โคกสูง',	'ไชยปราการ',	'ทับปุด',	'นครชัยศรี',	'โนนสุวรรณ',	'บ้านตาก',	'ปลายพระยา',	'พระประแดง',	'ภูเวียง',	'ระแงะ',	'วังเหนือ',	'สนม',	'สีคิ้ว',	'หล่มเก่า',
            'กะเปอร์',	'ขุนยวม',	'ฆ้องชัย',	'ไชยวาน',	'ทับสะแก',	'นครไทย',	'โนนสูง',	'บ้านตาขุน',	'ปะคำ',	'พระพรหม',	'ภูสิงห์',	'ระโนด',	'วัฒนานคร',	'สนามชัยเขต',	'สีชมพู',	'หล่มสัก',
            'กะพ้อ',	'ขุนหาญ',	'งาว',	'ไชยา',	'ทัพทัน',	'นครหลวง',	'บรบือ',	'บ้านแท่น',	'ปะทิว',	'พระพุทธบาท',	'ภูหลวง',	'รัตนบุรี',	'วัดโบสถ์',	'สบปราบ',	'สีดา',	'หลังสวน',
            'กันตัง',	'เขมราฐ',	'จตุรพักตรพิมาน',	'ไชโย',	'ท่าคันโท',	'นบพิตำ',	'บรรพตพิสัย',	'บ้านธิ',	'ปะนาเระ',	'พระยืน',	'มโนรมย์',	'รัตนวาปี',	'วัดเพลง',	'สบเมย',	'สุขสำราญ',	'ห้วยกระเจา',
            'กันทรลักษ์',	'เขวาสินรินทร์',	'จอมทอง',	'ซับใหญ่',	'ท่าฉาง',	'นากลาง',	'บ่อเกลือ',	'บ้านนา',	'ปะเหลียน',	'พระสมุทรเจดีย์',	'มวกเหล็ก',	'รัตภูมิ',	'วัดสิงห์',	'สมเด็จ',	'สุคิริน',	'ห้วยคต',
            'กันทรวิชัย',	'เขาค้อ',	'จอมบึง',	'ซำสูง',	'ท่าชนะ',	'นาแก',	'บ่อทอง',	'บ้านนาเดิม',	'ปักธงชัย',	'พระแสง',	'ม่วงสามสิบ',	'รัษฎา',	'วานรนิวาส',	'สรรคบุรี',	'สุวรรณคูหา',	'ห้วยแถลง',
            'กันทรารมย์',	'เขาคิชฌกูฏ',	'จอมพระ',	'เซกา',	'ท่าช้าง',	'นาคู',	'บ่อพลอย',	'บ้านนาสาร',	'ปัว',	'พรานกระต่าย',	'มหาชนะชัย',	'ราชสาส์น',	'วาปีปทุม',	'สรรพยา',	'สุวรรณภูมิ',	'ห้วยทับทัน',
            'กัลยาณิวัฒนา',	'เขาฉกรรจ์',	'จะนะ',	'โซ่พิสัย',	'ท่าแซะ',	'นางรอง',	'บ่อไร่',	'บ้านบึง',	'ปากเกร็ด',	'พร้าว',	'มหาราช',	'รามัน',	'วาริชภูมิ',	'สระใคร',	'สุไหงโก-ลก',	'ห้วยผึ้ง',
            'กาญจนดิษฐ์',	'เขาชะเมา',	'จะแนะ',	'ดงเจริญ',	'ท่าตะเกียบ',	'นาจะหลวย',	'บันนังสตา',	'บ้านโป่ง',	'ปากคาด',	'พล',	'มะขาม',	'ราษีไศล',	'วารินชำราบ',	'สระโบสถ์',	'สุไหงปาดี',	'ห้วยเม็ก',
            'กาบเชิง',	'เขาชัยสน',	'จักราช',	'ดงหลวง',	'ท่าตะโก',	'นาเชือก',	'บัวเชด',	'บ้านผือ',	'ปากชม',	'พลับพลาชัย',	'มะนัง',	'รือเสาะ',	'วิเชียรบุรี',	'สร้างคอม',	'สูงเนิน',	'ห้วยยอด',
            'กาบัง',	'เขาพนม',	'จังหาร',	'ดอกคำใต้',	'ท่าตูม',	'นาด้วง',	'บัวลาย',	'บ้านไผ่',	'ปากช่อง',	'พะโต๊ะ',	'มัญจาคีรี',	'เรณูนคร',	'วิภาวดี',	'สวนผึ้ง',	'สูงเม่น',	'ห้วยราช',
            'กำแพงแสน',	'เขาย้อย',	'จัตุรัส',	'ดอนจาน',	'ท่าบ่อ',	'นาดี',	'บัวใหญ่',	'บ้านฝาง',	'ปากท่อ',	'พังโคน',	'มายอ',	'ลอง',	'วิเศษชัยชาญ',	'สวรรคโลก',	'เสนา',	'หว้านใหญ่',
            'กุฉินารายณ์',	'เขาวง',	'จุน',	'ดอนเจดีย์',	'ท่าปลา',	'นาดูน',	'บางกรวย',	'บ้านแพง',	'ปากพนัง',	'พัฒนานิคม',	'เมยวดี',	'ละงู',	'วิหารแดง',	'สว่างแดนดิน',	'เสนางคนิคม',	'หันคา',
            'กุดข้าวปุ้น',	'เขาสมิง',	'จุฬาภรณ์',	'ดอนตาล',	'ท่าแพ',	'นาตาล',	'บางกระทุ่ม',	'บ้านแพรก',	'ปากพลี',	'พาน',	'เมือง',	'ละแม',	'เวียงเก่า',	'สว่างวีระวงศ์',	'เสริมงาม',	'หัวตะพาน',
            'กุดจับ',	'เขาสวนกวาง',	'เจริญศิลป์',	'ดอนตูม',	'ท่าม่วง',	'นาทม',	'บางกล่ำ',	'บ้านแพ้ว',	'ปากพะยูน',	'พานทอง',	'แม่จริม',	'ละหานทราย',	'เวียงแก่น',	'สว่างอารมณ์',	'เสลภูมิ',	'หัวไทร',
            'กุดชุม',	'เขื่องใน',	'เจาะไอร้อง',	'ดอนพุด',	'ท่ามะกา',	'นาทวี',	'บางแก้ว',	'บ้านโพธิ์',	'ปางมะผ้า',	'พิชัย',	'แม่จัน',	'ละอุ่น',	'เวียงชัย',	'สวี',	'เสาไห้',	'หัวหิน',
            'กุดบาก',	'โขงเจียม',	'แจ้ห่ม',	'ดอนมดแดง',	'ท้ายเหมือง',	'นาน้อย',	'บางขัน',	'บ้านม่วง',	'ปางศิลาทอง',	'พิบูลมังสาหาร',	'แม่แจ่ม',	'ลับแล',	'เวียงเชียงรุ้ง',	'สหัสขันธ์',	'เสิงสาง',	'ห้างฉัตร',
            'กุดรัง',	'คง',	'ฉวาง',	'ดอนสัก',	'ท่ายาง',	'นาบอน',	'บางคนที',	'บ้านไร่',	'ป่าซาง',	'พิบูลย์รักษ์',	'แม่ใจ',	'ลาดบัวหลวง',	'เวียงป่าเป้า',	'สอง',	'แสวงหา',	'หางดง',
            'กุมภวาปี',	'ครบุรี',	'เฉลิมพระเกียรติ',	'ดอยเต่า',	'ท่าเรือ',	'นาโพธิ์',	'บางคล้า',	'บ้านลาด',	'ป่าแดด',	'พิปูน',	'แม่แตง',	'ลาดยาว',	'เวียงสระ',	'สองแคว',	'หนองกี่',	'หาดสำราญ',
            'กุยบุรี',	'คลองขลุง',	'เฉลิมพระเกียรติ',	'ดอยสะเก็ด',	'ท่าลี่',	'นามน',	'บางซ้าย',	'บ้านสร้าง',	'ป่าติ้ว',	'พิมาย',	'แม่ทะ',	'ลาดหลุมแก้ว',	'เวียงสา',	'ส่องดาว',	'หนองกุงศรี',	'หาดใหญ่',
            'กุสุมาลย์',	'คลองเขื่อน',	'เฉลิมพระเกียรติ',	'ดอยหลวง',	'ท่าวังผา',	'นายายอาม',	'บางไทร',	'บ้านหมอ',	'ป่าบอน',	'พุทธมณฑล',	'แม่ทา',	'ลานกระบือ',	'เวียงหนองล่อง',	'สองพี่น้อง',	'หนองขาหย่าง',	'เหนือคลอง',
            'กู่แก้ว',	'คลองท่อม',	'เฉลิมพระเกียรติ',	'ดอยหล่อ',	'ท่าวุ้ง',	'นายูง',	'บางน้ำเปรี้ยว',	'บ้านหมี่',	'ป่าพะยอม',	'พุทไธสง',	'แม่เปิน',	'ลานสกา',	'เวียงแหง',	'สอยดาว',	'หนองแค',	'เหล่าเสือโก้ก',
            'เกษตรวิสัย',	'คลองลาน',	'เฉลิมพระเกียรติ',	'ด่านขุนทด',	'ท่าศาลา',	'นาเยีย',	'บางบ่อ',	'บ้านหลวง',	'ป่าโมก',	'พุนพิน',	'แม่พริก',	'ลานสัก',	'แว้ง',	'สะเดา',	'หนองจิก',	'แหลมงอบ',
            'เกษตรสมบูรณ์',	'คลองหลวง',	'ชนแดน',	'ด่านช้าง',	'ท่าสองยาง',	'นาโยง',	'บางบัวทอง',	'บ้านเหลื่อม',	'ปาย',	'เพ็ญ',	'แม่ฟ้าหลวง',	'ลำดวน',	'แวงน้อย',	'สะบ้าย้อย',	'หนองฉาง',	'แหลมสิงห์',
            'เก้าเลี้ยว',	'คลองหอยโข่ง',	'ชนบท',	'ด่านซ้าย',	'ท่าหลวง',	'นาวัง',	'บางบาล',	'บ้านแหลม',	'เปือยน้อย',	'โพทะเล',	'แม่เมาะ',	'ลำทะเมนชัย',	'แวงใหญ่',	'สะเมิง',	'หนองแซง',	'องครักษ์',
            'เกาะกูด',	'คลองหาด',	'ชะอวด',	'ด่านมะขามเตี้ย',	'ท่าใหม่',	'นาหม่อม',	'บางปลาม้า',	'บ้านใหม่ไชยพจน์',	'แปลงยาว',	'โพธาราม',	'แม่ระมาด',	'ลำทับ',	'ศรีเชียงใหม่',	'สังขละบุรี',	'หนองโดน',	'อมก๋อย',
            'เกาะคา',	'คลองใหญ่',	'ชะอำ',	'ดำเนินสะดวก',	'ท่าอุเทน',	'นาหมื่น',	'บางปะกง',	'บ้านแฮด',	'โป่งน้ำร้อน',	'โพธิ์ชัย',	'แม่ริม',	'ลำปลายมาศ',	'ศรีณรงค์',	'สังขะ',	'หนองนาคำ',	'อรัญประเทศ',
            'เกาะจันทร์',	'ควนกาหลง',	'ชัยบาดาล',	'เดชอุดม',	'ทุ่งเขาหลวง',	'นาหว้า',	'บางปะหัน',	'บ้านโฮ่ง',	'ผักไห่',	'โพธิ์ตาก',	'แม่ลาน',	'ลำลูกกา',	'ศรีเทพ',	'สังคม',	'หนองบัว',	'อัมพวา',
            'เกาะช้าง',	'ควนขนุน',	'ชัยบุรี',	'เด่นชัย',	'ทุ่งช้าง',	'นาแห้ว',	'บางปะอิน',	'บำเหน็จณรงค์',	'ผาขาว',	'โพธิ์ทอง',	'แม่ลาน้อย',	'ลำสนธิ',	'ศรีธาตุ',	'สัตหีบ',	'หนองบัวแดง',	'อากาศอำนวย',
            'เกาะพะงัน',	'ควนโดน',	'ช้างกลาง',	'เดิมบางนางบวช',	'ทุ่งตะโก',	'น้ำเกลี้ยง',	'บางพลี',	'บึงโขงหลง',	'ฝาง',	'โพธิ์ไทร',	'แม่ลาว',	'ลี้',	'ศรีนคร',	'สันกำแพง',	'หนองบัวระเหว',	'อาจสามารถ',
            'เกาะยาว',	'ควนเนียง',	'ชาติตระการ',	'ตรอน',	'ทุ่งฝน',	'น้ำขุ่น',	'บางแพ',	'บึงนาราง',	'เฝ้าไร่',	'โพธิ์ประทับช้าง',	'แม่วงก์',	'ลืออำนาจ',	'ศรีนครินทร์',	'สันติสุข',	'หนองบุญมาก',	'อ่าวลึก',
            'เกาะลันตา',	'คอนสวรรค์',	'ชานุมาน',	'ตระการพืชผล',	'ทุ่งยางแดง',	'น้ำปาด',	'บางมูลนาก',	'บึงบูรพ์',	'พญาเม็งราย',	'โพธิ์ศรีสุวรรณ',	'แม่วาง',	'เลาขวัญ',	'ศรีบรรพต',	'สันทราย',	'หนองปรือ',	'อินทร์บุรี',
            'เกาะสมุย',	'คอนสาร',	'ชำนิ',	'ตะกั่วทุ่ง',	'ทุ่งศรีอุดม',	'น้ำพอง',	'บางระกำ',	'บึงสามพัน',	'พนม',	'โพนทราย',	'แม่สรวย',	'เลิงนกทา',	'ศรีบุญเรือง',	'สันป่าตอง',	'หนองไผ่',	'อุทัย',
            'เกาะสีชัง',	'ค้อวัง',	'ชื่นชม',	'ตะกั่วป่า',	'ทุ่งสง',	'น้ำยืน',	'บางระจัน',	'บึงสามัคคี',	'พนมดงรัก',	'โพนทอง',	'แม่สอด',	'วชิรบารมี',	'ศรีประจันต์',	'สากเหล็ก',	'หนองพอก',	'อุทุมพรพิสัย',
            'แก่งกระจาน',	'ค่ายบางระจัน',	'ชุมตาบง',	'ตะพานหิน',	'ทุ่งเสลี่ยม',	'น้ำโสม',	'บางละมุง',	'บุ่งคล้า',	'พนมทวน',	'โพนนาแก้ว',	'แม่สะเรียง',	'วังจันทร์',	'ศรีมหาโพธิ',	'สามโก้',	'หนองม่วง',	'อุบลรัตน์',
            'แก้งคร้อ',	'คำเขื่อนแก้ว',	'ชุมพลบุรี',	'ตะโหมด',	'ทุ่งหว้า',	'น้ำหนาว',	'บางเลน',	'บุณฑริก',	'พนมไพร',	'โพนพิสัย',	'แม่สาย',	'วังเจ้า',	'ศรีมโหสถ',	'สามโคก',	'หนองม่วงไข่',	'อุ้มผาง',
            'แก่งคอย',	'คำชะอี',	'ชุมพวง',	'ตากใบ',	'ทุ่งหัวช้าง',	'นิคมคำสร้อย',	'บางสะพาน',	'เบญจลักษ์',	'พนมสารคาม',	'โพนสวรรค์',	'แม่ออน',	'วังชิ้น',	'ศรีเมืองใหม่',	'สามง่าม',	'หนองมะโมง',	'อู่ทอง',
            'แก้งสนามนาง',	'คำตากล้า',	'ชุมแพ',	'ตากฟ้า',	'ทุ่งใหญ่',	'นิคมน้ำอูน',	'บางสะพานน้อย',	'เบตง',	'พนัสนิคม',	'ไพรบึง',	'แม่อาย',	'วังทรายพูน',	'ศรีรัตนะ',	'สามเงา',	'หนองเรือ',	'เอราวัณ',
            'แก่งหางแมว',	'คำม่วง',	'ชุมแสง',	'ตาคลี',	'เทพสถิต',	'นิคมพัฒนา',	'บางเสาธง',	'ปง',	'พนา',	'ไพศาลี',	'ไม้แก่น',	'วังทอง',	'ศรีราชา',	'สามชัย',	'หนองวัวซอ',	'ฮอด',
            'เมืองกระบี่',	'เมืองชัยภูมิ',	'เมืองนครราชสีมา',	'เมืองปราจีนบุรี',	'เมืองแพร่',	'เมืองระยอง',	'เมืองสมุทรปราการ',	'เมืองสุรินทร์',
            'เมืองกาญจนบุรี',	'เมืองชุมพร',	'เมืองนครศรีธรรมราช',	'เมืองปัตตานี',	'เมืองภูเก็ต',	'เมืองราชบุรี',	'เมืองสมุทรสงคราม',	'เมืองหนองคาย',
            'เมืองกาฬสินธุ์',	'เมืองเชียงราย',	'เมืองนครสวรรค์',	'เมืองปาน',	'เมืองมหาสารคาม',	'เมืองลพบุรี',	'เมืองสมุทรสาคร',	'เมืองหนองบัวลำภู',
            'เมืองกำแพงเพชร',	'เมืองเชียงใหม่',	'เมืองนนทบุรี',	'เมืองพะเยา',	'เมืองมุกดาหาร',	'เมืองลำปาง',	'เมืองสรวง',	'เมืองอ่างทอง',
            'เมืองขอนแก่น',	'เมืองตรัง',	'เมืองนราธิวาส',	'เมืองพังงา',	'เมืองแม่ฮ่องสอน',	'เมืองลำพูน',	'เมืองสระแก้ว',	'เมืองอำนาจเจริญ',
            'เมืองจันทบุรี',	'เมืองตราด',	'เมืองน่าน',	'เมืองพัทลุง',	'เมืองยโสธร',	'เมืองเลย',	'เมืองสระบุรี',	'เมืองอุดรธานี',
            'เมืองจันทร์',	'เมืองตาก',	'เมืองบึงกาฬ',	'เมืองพิจิตร',	'เมืองยะลา',	'เมืองศรีสะเกษ',	'เมืองสิงห์บุรี',	'เมืองอุตรดิตถ์',
            'เมืองฉะเชิงเทรา',	'เมืองนครนายก',	'เมืองบุรีรัมย์',	'เมืองพิษณุโลก',	'เมืองยาง',	'เมืองสกลนคร',	'เมืองสุโขทัย',	'เมืองอุทัยธานี',
            'เมืองชลบุรี',	'เมืองนครปฐม',	'เมืองปทุมธานี',	'เมืองเพชรบุรี',	'เมืองร้อยเอ็ด',	'เมืองสงขลา',	'เมืองสุพรรณบุรี',	'เมืองอุบลราชธานี',
            'เมืองชัยนาท',	'เมืองนครพนม',	'เมืองประจวบคีรีขันธ์',	'เมืองเพชรบูรณ์',	'เมืองระนอง',	'เมืองสตูล',	'เมืองสุราษฎร์ธานี']

In [ ]:
covid_df[covid_df['district_of_onset'].isin(district)].shape    # ดูขนาดข้อมูลที่อำเภอตรงกับ list ของอำเภอ

(2252251, 7)

In [ ]:
without_district = covid_df[~covid_df['district_of_onset'].isin(district)]      # เลือกข้อมูลในคอลัมน์ district_of_onset ที่กรอกค่าอื่นๆ ที่ไม่ตรงกับ list ของอำเภอที่สร้างขึ้น
print(without_district.shape)
without_district.head()

(1050918, 7)

,No.,announce_date,sex,age,risk,province_of_onset,district_of_onset
0,1,12/1/2020,หญิง,61.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,หญิง,74.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
3,4,22/1/2020,ชาย,68.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,หญิง,66.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
5,6,25/1/2020,หญิง,33.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN

In [ ]:
########### run ไม่ได้

# set_without_district = set(without_district['district_of_onset'])       # สร้าง set ของค่าที่กรอกไม่ตรงกับอำเภอ

# covid_df['district_of_onset'] = covid_df['province_of_onset'].replace(set_without_district,'ไม่ระบุ')     # เปลี่ยนค่าที่กรอกไม่ตรงเป็น ไม่ระบุ
# print(covid_df.shape)
# covid_df.head()

In [ ]:
without_district['district_of_onset'] = 'ไม่ระบุ'
print(without_district.shape)
without_district.head()

(1050918, 7)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,No.,announce_date,sex,age,risk,province_of_onset,district_of_onset
0,1,12/1/2020,หญิง,61.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ
1,2,17/1/2020,หญิง,74.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ
3,4,22/1/2020,ชาย,68.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ
4,5,24/1/2020,หญิง,66.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ
5,6,25/1/2020,หญิง,33.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ

In [ ]:
covid_df.set_index('No.', inplace=True)
without_district.set_index('No.', inplace=True)
covid_df.update(without_district)                # update ค่า ด้วยตาราง covid ด้วย ตาราง without_district
without_district = without_district.reset_index()
covid_df = covid_df.reset_index()
print('*' *150)
print(covid_df.shape)
covid_df.head()

******************************************************************************************************************************************************
(3303169, 7)

,No.,announce_date,sex,age,risk,province_of_onset,district_of_onset
0,1,12/1/2020,หญิง,61.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ
1,2,17/1/2020,หญิง,74.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ
2,3,22/1/2020,หญิง,73.0,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมืองนครปฐม
3,4,22/1/2020,ชาย,68.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ
4,5,24/1/2020,หญิง,66.0,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ

In [ ]:
covid_df.isnull().sum()

No.                       0
announce_date             0
sex                  179060
age                  266795
risk                   1187
province_of_onset         0
district_of_onset         0
dtype: int64

### C: age

#### แทนค่า nan

แทนค่า nan ของ age ด้วย ค่า mean

In [ ]:
covid_df.dtypes     # ดู ชนิดของข้อมูล

No.                   int64
announce_date        object
sex                  object
age                  object
risk                 object
province_of_onset    object
district_of_onset    object
dtype: object

In [ ]:
covid_df['age'] = pd.to_numeric(covid_df['age'], errors='coerce')     # เปลี่ยน tpye ข้อมูล คอลัมน์ age
covid_df.dtypes

No.                    int64
announce_date         object
sex                   object
age                  float64
risk                  object
province_of_onset     object
district_of_onset     object
dtype: object

In [ ]:
mean_age = covid_df['age'].mean()
mean_age

35.35915633069593

In [ ]:
covid_df['age'] = covid_df['age'].fillna(mean_age)     # แทนค่า nan ของ age ด้วย mean

In [ ]:
covid_df = covid_df.astype({'age':'int'})   # เปลี่ยนชนิดข้อมูล

In [ ]:
covid_df.isnull().sum()     # ดูจำนวนค่า nan

No.                       0
announce_date             0
sex                  179060
age                       0
risk                   1187
province_of_onset         0
district_of_onset         0
dtype: int64

### C: sex & risk

#### แทนค่า nan

In [ ]:
covid_df = covid_df.fillna('ไม่ระบุ')

In [ ]:
covid_df.isnull().sum()   # ดูจำนวนค่า nan

No.                  0
announce_date        0
sex                  0
age                  0
risk                 0
province_of_onset    0
district_of_onset    0
dtype: int64

#### แก้ไขข้อมูล

In [ ]:
set(covid_df['sex'])

{'\xa0หญิง',
 'ช',
 'ชาย',
 'ญ',
 'นาย',
 'ร.ต.ท.',
 'หญง',
 'หญิง',
 'หญิิง',
 'หณิง',
 'หห',
 'ไม่ระบุ'}

In [ ]:
covid_df['sex'].replace({'ช':'ชาย',     # เปลี่ยนข้อมูลให้เขียนเหมือนกัน
                 'นาย':'ชาย',
                 'ร.ต.ท.':'ชาย',
                 'ญ':'หญิง',
                 'หณิง':'หญิง',
                 'หห':'หญิง',
                 '\xa0หญิง':'หญิง',
                 'หญง':'หญิง',
                 'หญิิง':'หญิง'},inplace=True)

In [ ]:
set(covid_df['sex'])

{'ชาย', 'หญิง', 'ไม่ระบุ'}

### C: announce_date

##### เปลี่ยนชนิดข้อมูล

In [ ]:
print(covid_df.shape)
print(covid_df.dtypes)
covid_df.head()

(3303169, 7)
No.                   int64
announce_date        object
sex                  object
age                   int64
risk                 object
province_of_onset    object
district_of_onset    object
dtype: object

,No.,announce_date,sex,age,risk,province_of_onset,district_of_onset
0,1,12/1/2020,หญิง,61,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ
1,2,17/1/2020,หญิง,74,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ
2,3,22/1/2020,หญิง,73,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมืองนครปฐม
3,4,22/1/2020,ชาย,68,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ
4,5,24/1/2020,หญิง,66,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ

In [ ]:
covid_df['announce_date'] = pd.to_datetime(covid_df['announce_date'],format="%d/%m/%Y")

In [ ]:
print(covid_df.shape)
print(covid_df.dtypes)
covid_df.head()

(3303169, 7)
No.                           int64
announce_date        datetime64[ns]
sex                          object
age                           int64
risk                         object
province_of_onset            object
district_of_onset            object
dtype: object

,No.,announce_date,sex,age,risk,province_of_onset,district_of_onset
0,1,2020-01-12,หญิง,61,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ
1,2,2020-01-17,หญิง,74,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ
2,3,2020-01-22,หญิง,73,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมืองนครปฐม
3,4,2020-01-22,ชาย,68,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ
4,5,2020-01-24,หญิง,66,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ

- ข้อมูลเหลืออยู่เท่าเดิม (ไม่ได้ drop ข้อมูล)

In [ ]:
#####################################################################################################################################################

In [ ]:
print(covid_df.shape)    ############## ตารางสุดท้าย พร้อมใช้งานของ covid_data
covid_df.head()

(3303169, 7)

,No.,announce_date,sex,age,risk,province_of_onset,district_of_onset
0,1,2020-01-12,หญิง,61,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ
1,2,2020-01-17,หญิง,74,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ
2,3,2020-01-22,หญิง,73,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมืองนครปฐม
3,4,2020-01-22,ชาย,68,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ
4,5,2020-01-24,หญิง,66,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ

In [ ]:
# df_drop.to_csv('covid.csv',index=False)     # โหลดตาราง

In [ ]:
# df_drop.to_csv('covid_cleaned.csv')     # โหลดตารางลง drive

# 2.region data

ref: https://th.wikipedia.org/wiki/%E0%B8%A0%E0%B8%B9%E0%B8%A1%E0%B8%B4%E0%B8%A0%E0%B8%B2%E0%B8%84%E0%B8%82%E0%B8%AD%E0%B8%87%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B9%80%E0%B8%97%E0%B8%A8%E0%B9%84%E0%B8%97%E0%B8%A2

![region.png]()

In [ ]:
region1 = { 'จังหวัด': ['อำนาจเจริญ','บึงกาฬ', 'บุรีรัมย์', 'ชัยภูมิ', 'กาฬสินธุ์', 'ขอนแก่น', 'เลย', 'มหาสารคาม', 'มุกดาหาร', 'นครพนม', 'นครราชสีมา', 'หนองบัวลำภู', 'หนองคาย', 'ร้อยเอ็ด', 'สกลนคร', 'ศรีสะเกษ', 'สุรินทร์', 'อุบลราชธานี', 'อุดรธานี', 'ยโสธร'],
             'ภูมิศาสตร์': ['ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ'],
             'การเมือง': ['ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ'],
             'อุตุนิยมวิทยา': ['ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ'],
             'การท่องเที่ยว': ['ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ', 'ตะวันออกเฉียงเหนือ']
}
region2 = { 'จังหวัด': ['เชียงใหม่', 'เชียงราย', 'ลำปาง', 'ลำพูน', 'แม่ฮ่องสอน', 'น่าน', 'พะเยา', 'แพร่', 'อุตรดิตถ์'],
             'ภูมิศาสตร์': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ'],
             'การเมือง': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ'],
             'อุตุนิยมวิทยา': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ'],
             'การท่องเที่ยว': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ']
}
region3 = { 'จังหวัด': ['ตาก'],
             'ภูมิศาสตร์': ['ตะวันตก'],
             'การเมือง': ['เหนือ'],
             'อุตุนิยมวิทยา': ['เหนือ'],
             'การท่องเที่ยว': ['เหนือ']
}
region4 = { 'จังหวัด': ['สุโขทัย', 'พิษณุโลก', 'พิจิตร', 'กำแพงเพชร', 'เพชรบูรณ์'],
             'ภูมิศาสตร์': ['กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง'],
             'การเมือง': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ'],
             'อุตุนิยมวิทยา': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ'],
             'การท่องเที่ยว': ['เหนือ', 'เหนือ', 'เหนือ', 'เหนือ', 'เหนือ']
}
region5 = { 'จังหวัด': ['นครสวรรค์', 'อุทัยธานี'],
             'ภูมิศาสตร์': ['กลาง','กลาง'],
             'การเมือง': ['เหนือ','เหนือ'],
             'อุตุนิยมวิทยา': ['กลาง','กลาง'],
             'การท่องเที่ยว': ['เหนือ','เหนือ']
}
region6 = { 'จังหวัด': ['อ่างทอง', 'ชัยนาท', 'พระนครศรีอยุธยา', 'กรุงเทพมหานคร','ลพบุรี', 'นครปฐม', 'นนทบุรี', 'ปทุมธานี', 'สมุทรปราการ', 'สมุทรสาคร', 'สมุทรสงคราม', 'สระบุรี', 'สิงห์บุรี', 'สุพรรณบุรี'],
             'ภูมิศาสตร์': ['กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง'],
             'การเมือง': ['กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง'],
             'อุตุนิยมวิทยา': ['กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง'],
             'การท่องเที่ยว': ['กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง']
}
region7 = { 'จังหวัด': ['นครนายก'],
             'ภูมิศาสตร์': ['กลาง'],
             'การเมือง': ['กลาง'],
             'อุตุนิยมวิทยา': ['ตะวันออก'],
             'การท่องเที่ยว': ['กลาง']
}
region8 = { 'จังหวัด': ['ฉะเชิงเทรา', 'จันทบุรี', 'ชลบุรี', 'ปราจีนบุรี', 'ระยอง', 'สระแก้ว', 'ตราด'],
             'ภูมิศาสตร์': ['ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก'],
             'การเมือง': ['กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง', 'กลาง'],
             'อุตุนิยมวิทยา': ['ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก'],
             'การท่องเที่ยว': ['ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก', 'ตะวันออก']
}
region9 = { 'จังหวัด': ['กาญจนบุรี', 'ราชบุรี'],
             'ภูมิศาสตร์': ['ตะวันตก','ตะวันตก'],
             'การเมือง': ['กลาง','กลาง'],
             'อุตุนิยมวิทยา': ['กลาง','กลาง'],
             'การท่องเที่ยว': ['กลาง','กลาง']
}
region10 = { 'จังหวัด': ['เพชรบุรี', 'ประจวบคีรีขันธ์'],
             'ภูมิศาสตร์': ['ตะวันตก','ตะวันตก'],
             'การเมือง': ['กลาง','กลาง'],
             'อุตุนิยมวิทยา': ['ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย'],
             'การท่องเที่ยว': ['กลาง','กลาง']
}
region11 = { 'จังหวัด': ['ชุมพร', 'นครศรีธรรมราช','นราธิวาส', 'ปัตตานี', 'พัทลุง', 'สงขลา', 'สุราษฎร์ธานี', 'ยะลา'],
             'ภูมิศาสตร์': ['ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้'],
             'การเมือง': ['ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้'],
             'อุตุนิยมวิทยา': ['ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย', 'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย'],
             'การท่องเที่ยว': ['ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้']
}
region12 = { 'จังหวัด': ['กระบี่', 'พังงา', 'ภูเก็ต', 'ระนอง', 'สตูล', 'ตรัง'],
             'ภูมิศาสตร์': ['ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้'],
             'การเมือง': ['ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้'],
             'อุตุนิยมวิทยา': ['ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน', 'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'],
             'การท่องเที่ยว': ['ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้', 'ใต้']
}

In [ ]:
df_region1 = pd.DataFrame.from_dict(region1)
df_region2 = pd.DataFrame.from_dict(region2)
df_region3 = pd.DataFrame.from_dict(region3)
df_region4 = pd.DataFrame.from_dict(region4)
df_region5 = pd.DataFrame.from_dict(region5)
df_region6 = pd.DataFrame.from_dict(region6)
df_region7 = pd.DataFrame.from_dict(region7)
df_region8 = pd.DataFrame.from_dict(region8)
df_region9 = pd.DataFrame.from_dict(region9)
df_region10 = pd.DataFrame.from_dict(region10)
df_region11 = pd.DataFrame.from_dict(region11)
df_region12 = pd.DataFrame.from_dict(region12)

In [ ]:
region_concat = pd.concat([df_region1, df_region2, df_region3, df_region4, df_region5, df_region6,
                            df_region7, df_region8, df_region9, df_region10, df_region11, df_region12])  
print(region_concat.shape)
region_concat.head()

(77, 5)

,จังหวัด,ภูมิศาสตร์,การเมือง,อุตุนิยมวิทยา,การท่องเที่ยว
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ

In [ ]:
region_concat.isnull().sum()

จังหวัด          0
ภูมิศาสตร์       0
การเมือง         0
อุตุนิยมวิทยา    0
การท่องเที่ยว    0
dtype: int64

In [ ]:
##########################################################################################################################################

In [ ]:
print(region_concat.shape)              ### ตารางพร้อมใช้งาน ของ region
region_concat.head()

(77, 5)

,จังหวัด,ภูมิศาสตร์,การเมือง,อุตุนิยมวิทยา,การท่องเที่ยว
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ

# 3.Elderly

ref: https://www.dop.go.th/th/know/side/1/1/1099

- ข้อมูลผู้สูงอายุของประเทศไทย ที่มีอายุ 60 ขึ้นไป

In [ ]:
elderly = pd.read_excel('จำนวนผู้สูงอายุที่มีอายุมากว่า 60 ปี 2564.xlsx')
print(elderly.shape)
elderly.head()

(77, 6)

   ลำดับ  รหัส      ชื่อจังหวัด       ชาย      หญิง        รวม
0    1.0  10.0    กรุงเทพมหานคร  477117.0  675178.0  1152295.0
1    2.0  11.0      สมุทรปราการ   94967.0  129053.0   224020.0
2    3.0  12.0          นนทบุรี  109375.0  148338.0   257713.0
3    4.0  13.0         ปทุมธานี   79657.0  105714.0   185376.0
4    5.0  14.0  พระนครศรีอยุธยา   68172.0   92624.0   160796.0

In [ ]:
elderly = elderly[['ชื่อจังหวัด','รวม']].rename(columns={'รวม':'จำนวนผู้สูงอายุรวม'})      # เลือกมาเฉพาะข้อมูลที่ต้องการ        # เปลี่ยนชื่อคอลัมน์
print(elderly.shape)
elderly.head()

(77, 2)

       ชื่อจังหวัด  จำนวนผู้สูงอายุรวม
0    กรุงเทพมหานคร           1152295.0
1      สมุทรปราการ            224020.0
2          นนทบุรี            257713.0
3         ปทุมธานี            185376.0
4  พระนครศรีอยุธยา            160796.0

In [ ]:
elderly = elderly.astype({'จำนวนผู้สูงอายุรวม':'int'})   # เปลี่ยนชนิดข้อมูล

In [ ]:
elderly.isnull().sum()      # เช็คค่าว่าง

ชื่อจังหวัด           0
จำนวนผู้สูงอายุรวม    0
dtype: int64

In [ ]:
########################################################################################################################

In [ ]:
print(elderly.shape)    #### ตารางพร้อมงานของ elderly
elderly.head()

(77, 2)

       ชื่อจังหวัด  จำนวนผู้สูงอายุรวม
0    กรุงเทพมหานคร             1152295
1      สมุทรปราการ              224020
2          นนทบุรี              257713
3         ปทุมธานี              185376
4  พระนครศรีอยุธยา              160796

# รวมตาราง

In [ ]:
print(covid_df.shape)    ############## ตารางสุดท้าย พร้อมใช้งานของ covid_data
covid_df.head(3)

(3303169, 7)

,No.,announce_date,sex,age,risk,province_of_onset,district_of_onset
0,1,2020-01-12,หญิง,61,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ
1,2,2020-01-17,หญิง,74,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ
2,3,2020-01-22,หญิง,73,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมืองนครปฐม

In [ ]:
print(region_concat.shape)              ### ตารางพร้อมใช้งาน ของ region
region_concat.head(3)

(77, 5)

,จังหวัด,ภูมิศาสตร์,การเมือง,อุตุนิยมวิทยา,การท่องเที่ยว
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ

In [ ]:
print(elderly.shape)    #### ตารางพร้อมงานของ elderly
elderly.head(3)

(77, 2)

     ชื่อจังหวัด  จำนวนผู้สูงอายุรวม
0  กรุงเทพมหานคร             1152295
1    สมุทรปราการ              224020
2        นนทบุรี              257713

In [ ]:
covid_region = covid_df.merge(region_concat,how='left',left_on='province_of_onset',right_on='จังหวัด')     # ต่อตาราง covid ด้วยตาราง region
print(covid_region.shape)
covid_region.head(3)

(3303169, 12)

,No.,announce_date,sex,age,risk,province_of_onset,district_of_onset,จังหวัด,ภูมิศาสตร์,การเมือง,อุตุนิยมวิทยา,การท่องเที่ยว
0,1,2020-01-12,หญิง,61,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
1,2,2020-01-17,หญิง,74,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง
2,3,2020-01-22,หญิง,73,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมืองนครปฐม,นครปฐม,กลาง,กลาง,กลาง,กลาง

In [ ]:
all_data = covid_region.merge(elderly,how='left',left_on='province_of_onset',right_on='ชื่อจังหวัด')     # ต่อตาราง covid ด้วยตาราง region
print(all_data.shape)
all_data.head(3)

(3303169, 14)

,No.,announce_date,sex,age,risk,province_of_onset,district_of_onset,จังหวัด,ภูมิศาสตร์,การเมือง,อุตุนิยมวิทยา,การท่องเที่ยว,ชื่อจังหวัด,จำนวนผู้สูงอายุรวม
0,1,2020-01-12,หญิง,61,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,1152295.0
1,2,2020-01-17,หญิง,74,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,กรุงเทพมหานคร,กลาง,กลาง,กลาง,กลาง,กรุงเทพมหานคร,1152295.0
2,3,2020-01-22,หญิง,73,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมืองนครปฐม,นครปฐม,กลาง,กลาง,กลาง,กลาง,นครปฐม,171744.0

In [ ]:
all_data = all_data.drop(columns=['จังหวัด','ชื่อจังหวัด'])      # ลบคอลัมน์ที่ซ้ำกันออก
print(all_data.shape)
all_data.head(3)

(3303169, 12)

,No.,announce_date,sex,age,risk,province_of_onset,district_of_onset,ภูมิศาสตร์,การเมือง,อุตุนิยมวิทยา,การท่องเที่ยว,จำนวนผู้สูงอายุรวม
0,1,2020-01-12,หญิง,61,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,กลาง,กลาง,กลาง,กลาง,1152295.0
1,2,2020-01-17,หญิง,74,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,กลาง,กลาง,กลาง,กลาง,1152295.0
2,3,2020-01-22,หญิง,73,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมืองนครปฐม,กลาง,กลาง,กลาง,กลาง,171744.0

In [ ]:
all_data.isnull().sum()     # ดูค่าว่าง

No.                        0
announce_date              0
sex                        0
age                        0
risk                       0
province_of_onset          0
district_of_onset          0
ภูมิศาสตร์            398336
การเมือง              398336
อุตุนิยมวิทยา         398336
การท่องเที่ยว         398336
จำนวนผู้สูงอายุรวม    398336
dtype: int64

- เนื่องจากในคอลัมน์ จังหวัดมีค่า 'ไม่ระบุ' ในคอลัมน์ภูมิภาคและจำนวนผู้สูงอายุรวมจึงมีค่าว่าง เพราะไม่มีค่าให้เชื่อม

In [ ]:
# all_data.to_csv('all_data_cleaned.csv',index=False)           # 806.9 MB      # นำเข้า data studio ได้ประมาณ 400,000 rows

### แยกข้อมูล

- เนื่องจากขนาดไฟล์ใหญ่เกินไปจึงแยกข้อมูลออกเป็นส่วนๆ

In [ ]:
covid_1 = all_data[all_data['announce_date'] < '2021-08-01']     # เลือกข้อมูลตั้งแต่วันแรก ถึง 2021-07-31      # หรือ ตั้งแต่วันแรกจนถึงเดือน 7 ปี 2021
print(covid_1.shape)                                            
covid_1.head(3)

(597287, 12)

,No.,announce_date,sex,age,risk,province_of_onset,district_of_onset,ภูมิศาสตร์,การเมือง,อุตุนิยมวิทยา,การท่องเที่ยว,จำนวนผู้สูงอายุรวม
0,1,2020-01-12,หญิง,61,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,กลาง,กลาง,กลาง,กลาง,1152295.0
1,2,2020-01-17,หญิง,74,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,กลาง,กลาง,กลาง,กลาง,1152295.0
2,3,2020-01-22,หญิง,73,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมืองนครปฐม,กลาง,กลาง,กลาง,กลาง,171744.0

In [ ]:
covid_2 = all_data[(all_data['announce_date'] >= '2021-08-01') & (all_data['announce_date'] < '2021-09-01')]     # เลือกข้อมูล เดือน 8 ปี 2021
print(covid_2.shape)
covid_2.head(3)

(607442, 12)

,No.,announce_date,sex,age,risk,province_of_onset,district_of_onset,ภูมิศาสตร์,การเมือง,อุตุนิยมวิทยา,การท่องเที่ยว,จำนวนผู้สูงอายุรวม
597287,597288,2021-08-01,ชาย,53,อื่นๆ,เชียงใหม่,ไม่ระบุ,เหนือ,เหนือ,เหนือ,เหนือ,365562.0
597288,597289,2021-08-01,หญิง,30,สถานที่ทำงาน,เชียงใหม่,ไม่ระบุ,เหนือ,เหนือ,เหนือ,เหนือ,365562.0
597289,597290,2021-08-01,หญิง,20,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงใหม่,ไม่ระบุ,เหนือ,เหนือ,เหนือ,เหนือ,365562.0

In [ ]:
covid_3 = all_data[(all_data['announce_date'] >= '2021-09-01') & (all_data['announce_date'] < '2021-10-01')]     # เลือกข้อมูล เดือน 9 ปี 2021
print(covid_3.shape)
covid_3.head(3)

(398746, 12)

,No.,announce_date,sex,age,risk,province_of_onset,district_of_onset,ภูมิศาสตร์,การเมือง,อุตุนิยมวิทยา,การท่องเที่ยว,จำนวนผู้สูงอายุรวม
1204729,1204730,2021-09-01,หญิง,49,อื่นๆ,เชียงใหม่,สันกำแพง,เหนือ,เหนือ,เหนือ,เหนือ,365562.0
1204730,1204731,2021-09-01,ชาย,29,อื่นๆ,เชียงใหม่,เมืองเชียงใหม่,เหนือ,เหนือ,เหนือ,เหนือ,365562.0
1204731,1204732,2021-09-01,หญิง,16,อื่นๆ,เชียงใหม่,สารภี,เหนือ,เหนือ,เหนือ,เหนือ,365562.0

In [ ]:
covid_4 = all_data[(all_data['announce_date'] >= '2021-10-01') & (all_data['announce_date'] < '2021-12-01')]     # เลือกข้อมูล เดือน 10,11 ปี 2021
print(covid_4.shape)
covid_4.head(3)

(512397, 12)

,No.,announce_date,sex,age,risk,province_of_onset,district_of_onset,ภูมิศาสตร์,การเมือง,อุตุนิยมวิทยา,การท่องเที่ยว,จำนวนผู้สูงอายุรวม
1603475,1603476,2021-10-01,หญิง,30,อื่นๆ,พะเยา,เชียงคำ,เหนือ,เหนือ,เหนือ,เหนือ,109252.0
1603476,1603477,2021-10-01,หญิง,32,อื่นๆ,พะเยา,เชียงคำ,เหนือ,เหนือ,เหนือ,เหนือ,109252.0
1603477,1603478,2021-10-01,หญิง,38,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,เมืองเชียงราย,เหนือ,เหนือ,เหนือ,เหนือ,249689.0

In [ ]:
covid_5 = all_data[(all_data['announce_date'] >= '2021-12-01') & (all_data['announce_date'] < '2022-02-01')]     # เลือกข้อมูล เดือน 11 ปี 2021 - เดือน 1 ปี 2022
print(covid_5.shape)
covid_5.head(3)

(324670, 12)

,No.,announce_date,sex,age,risk,province_of_onset,district_of_onset,ภูมิศาสตร์,การเมือง,อุตุนิยมวิทยา,การท่องเที่ยว,จำนวนผู้สูงอายุรวม
2115872,2115873,2021-12-01,หญิง,63,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,เชียงราย,เทิง,เหนือ,เหนือ,เหนือ,เหนือ,249689.0
2115873,2115874,2021-12-01,หญิง,40,อื่นๆ,เชียงราย,เมืองเชียงราย,เหนือ,เหนือ,เหนือ,เหนือ,249689.0
2115874,2115875,2021-12-01,ชาย,38,อื่นๆ,เชียงราย,เทิง,เหนือ,เหนือ,เหนือ,เหนือ,249689.0

In [ ]:
covid_6 = all_data[(all_data['announce_date'] >= '2022-02-01') & (all_data['announce_date'] < '2022-03-01')]     # เลือกข้อมูล เดือน 2 ปี 2022
print(covid_6.shape)                                            
covid_6.head(3)

(451385, 12)

,No.,announce_date,sex,age,risk,province_of_onset,district_of_onset,ภูมิศาสตร์,การเมือง,อุตุนิยมวิทยา,การท่องเที่ยว,จำนวนผู้สูงอายุรวม
2440542,2440543,2022-02-01,หญิง,35,อื่นๆ,พะเยา,เชียงคำ,เหนือ,เหนือ,เหนือ,เหนือ,109252.0
2440543,2440544,2022-02-01,หญิง,19,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เชียงคำ,เหนือ,เหนือ,เหนือ,เหนือ,109252.0
2440544,2440545,2022-02-01,หญิง,8,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา,เหนือ,เหนือ,เหนือ,เหนือ,109252.0

In [ ]:
covid_7 = all_data[all_data['announce_date'] >= '2022-03-01']      # เลือกข้อมูลตั้งแต่ เดือน 3 ปี 2022 - ข้อมูลล่าสุดที่โหลดมา
print(covid_7.shape)                                            
covid_7.head(3)

(411242, 12)

,No.,announce_date,sex,age,risk,province_of_onset,district_of_onset,ภูมิศาสตร์,การเมือง,อุตุนิยมวิทยา,การท่องเที่ยว,จำนวนผู้สูงอายุรวม
2891927,2891928,2022-03-01,ชาย,35,อื่นๆ,แม่ฮ่องสอน,เมืองแม่ฮ่องสอน,เหนือ,เหนือ,เหนือ,เหนือ,36059.0
2891928,2891929,2022-03-01,หญิง,35,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,แม่ฮ่องสอน,ปาย,เหนือ,เหนือ,เหนือ,เหนือ,36059.0
2891929,2891930,2022-03-01,หญิง,35,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,แม่ฮ่องสอน,แม่สะเรียง,เหนือ,เหนือ,เหนือ,เหนือ,36059.0

## โหลดข้อมูล

In [ ]:
#covid_1.to_csv('covid_frist to 07-2021.csv',index=False)      # โหลดตาราง covid ตั้งแต่วันแรกจนถึงเดือน 7 ปี 2021
#covid_2.to_csv('covid_08-2021.csv',index=False)      # โหลดตาราง covid เดือน 8 ปี 2021
#covid_3.to_csv('covid_09-2021.csv',index=False)      # โหลดตาราง covid เดือน 9 ปี 2021
#covid_4.to_csv('covid_10 and 11-2021.csv',index=False)      # โหลดตาราง covid เดือน 10,11 ปี 2021
#covid_5.to_csv('covid_11-2021 to 1-2022.csv',index=False)      # โหลดตาราง covid เดือน 11 ปี 2021 - เดือน 1 ปี 2022
#covid_6.to_csv('covid_02-2022.csv',index=False)      # โหลดตาราง covid เดือน 2 ปี 2022
#covid_7.to_csv('covid_03-2022 to last2.csv',index=False)      # โหลดตาราง covid เดือน 2 ปี 2022 - ข้อมูลล่าสุดที่โหลดมา        # 99.3 MB

dashboard:

https://datastudio.google.com/reporting/7e67d47f-2b14-43c9-b26a-8a31fb5b939f/page/14EpC?fbclid=IwAR33LSMUg8JRER-mtLOb5aT07fgt66PNKSi3hzF8-ELvRlWd7r3HttpBOnI